body {
  font-family: "Helvetica", sans-serif;
}


h1 {
  text-align:center;
  font-size:60px;
 }

h2 {
  color: #7A0019;
  text-align: center;
  font-size: 30px;
}

h3 {
  font-size:15px;
  color: #cc0000;
  text-align: center;
}

h4, h5 {
  font-size:15px;
  color: #00cc00;
  text-align: center;
}

h6 {
  font-size:15px;
  color: #cc0000;
  text-align: center;
}

p {
  text-indent: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500;
}
#contact {
  background-color: #FFDE7A;
  padding: 2%;
}
